
Space Physics/Practical 1/report.aux

Space Physics/Practical 1/report.log

Space Physics/Practical 1/report.synctex.gz

Space Physics/Practical 1/TSWLatexianTemp_report.aux

Space Physics/Practical 1/TSWLatexianTemp_report.lof

Space Physics/Practical 1/TSWLatexianTemp_report.pdf

Space Physics/Practical 1/TSWLatexianTemp_report.log

Space Physics/Practical 1/TSWLatexianTemp_report.tex

Space Physics/Practical 1/TSWLatexianTemp_report.toc
